<nb-layout>

  <nb-layout-header fixed>
    <div style="display:flex;justify-content:space-between;align-items:center;width:100%;">
      <h4><span>{{configurationService.displayedPageTitle}}</span></h4>
      <nb-icon (click)="signOut()" *ngIf="configurationService.displayedPageTitle!='Login' && configurationService.displayedPageTitle!='Register'" icon="power-outline" style="cursor:pointer"></nb-icon>
    </div>
   
  </nb-layout-header>
  <nb-layout-column>
    <router-outlet></router-outlet>
  </nb-layout-column>
</nb-layout>
